.root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* 顶部栏 */
/* MainLayout.module.css */
.header {
  height: 64px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  background-color: var(--ant-color-bg-container);
  border-bottom: 1px solid var(--ant-color-border-secondary);
  z-index: 10;
  flex-shrink: 0;
}

/* layout 主体区域：侧边栏 + 内容 */
.body {
  flex: 1;
  display: flex;
  width: 100%;
  min-height: 0;
  overflow: hidden;
}

/* 左侧侧边栏 */
.sider {
  background-color: var(--ant-color-bg-container);
  border-right: 1px solid var(--ant-color-border-secondary);
  height: 100%;
  z-index: 1;
  flex-shrink: 0;
  width: 15rem;         /* 保底定义，防止被覆盖 */
  min-width: 15rem;
  position: relative;   /* 添加相对定位，作为 CollapseTrigger 的定位参考 */
}

/* 右侧主内容区 */
.content {
  flex: 1;
  overflow: auto;
  padding: 24px;
  background-color: var(--ant-color-bg-layout);
  min-height: 0;
}

/* 收起按钮定位 */
CollapseTrigger {
  right: -0.7rem;
}
